spring:
  application:
    name: 'eip-ero-notifications-api'
dynamodb:
  notificationsTableName: ${DYNAMODB_NOTIFICATIONS_TABLE_NAME}
  notificationAuditsTableName: ${DYNAMODB_NOTIFICATION_AUDITS_TABLE_NAME}
  communicationConfirmationsTableName: ${DYNAMODB_COMMUNICATION_CONFIRMATIONS_TABLE_NAME}

api:
  notify:
    api-key: ${API_NOTIFY_API_KEY}
    template:
      voter-card:
        email:
          approved-english: ${TEMPLATE_APPLICATION_APPROVED_EMAIL_ENGLISH}
          approved-welsh: ${TEMPLATE_APPLICATION_APPROVED_EMAIL_WELSH}
          photo-resubmission-english: ${TEMPLATE_PHOTO_RESUBMISSION_EMAIL_ENGLISH}
          photo-resubmission-welsh: ${TEMPLATE_PHOTO_RESUBMISSION_EMAIL_WELSH}
          photo-resubmission-with-reasons-english: ${TEMPLATE_PHOTO_RESUBMISSION_WITH_REASONS_EMAIL_ENGLISH}
          photo-resubmission-with-reasons-welsh: ${TEMPLATE_PHOTO_RESUBMISSION_WITH_REASONS_EMAIL_WELSH}
          id-document-resubmission-english: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_EMAIL_ENGLISH}
          id-document-resubmission-welsh: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_EMAIL_WELSH}
          id-document-required-english: ${TEMPLATE_ID_DOCUMENT_REQUIRED_EMAIL_ENGLISH}
          id-document-required-welsh: ${TEMPLATE_ID_DOCUMENT_REQUIRED_EMAIL_WELSH}

          # Rejection reasons have not yet been fully implemented for VAC.
          # Until the full journey for selecting rejection reasons has been implemented we shouldn't send them in emails.
          id-document-resubmission-with-reasons-english: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_EMAIL_ENGLISH}
          id-document-resubmission-with-reasons-welsh: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_EMAIL_WELSH}

        letter:
          rejected-english: ${TEMPLATE_APPLICATION_REJECTED_LETTER_ENGLISH}
          rejected-welsh: ${TEMPLATE_APPLICATION_REJECTED_LETTER_WELSH}
          photo-resubmission-english: ${TEMPLATE_PHOTO_RESUBMISSION_LETTER_ENGLISH}
          photo-resubmission-welsh: ${TEMPLATE_PHOTO_RESUBMISSION_LETTER_WELSH}
          photo-resubmission-with-reasons-english: ${TEMPLATE_PHOTO_RESUBMISSION_WITH_REASONS_LETTER_ENGLISH}
          photo-resubmission-with-reasons-welsh: ${TEMPLATE_PHOTO_RESUBMISSION_WITH_REASONS_LETTER_WELSH}
          id-document-resubmission-english: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_LETTER_ENGLISH}
          id-document-resubmission-welsh: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_LETTER_WELSH}
          id-document-required-english: ${TEMPLATE_ID_DOCUMENT_REQUIRED_LETTER_ENGLISH}
          id-document-required-welsh: ${TEMPLATE_ID_DOCUMENT_REQUIRED_LETTER_WELSH}

          # Rejection reasons have not yet been fully implemented for VAC.
          # Until the full journey for selecting rejection reasons has been implemented we shouldn't send them in emails.
          id-document-resubmission-with-reasons-english: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_LETTER_ENGLISH}
          id-document-resubmission-with-reasons-welsh: ${TEMPLATE_ID_DOCUMENT_RESUBMISSION_WITH_REASONS_LETTER_WELSH}

      postal:
        email:
          received-english: ${TEMPLATE_POSTAL_APPLICATION_RECEIVED_EMAIL_ENGLISH}
          received-welsh: ${TEMPLATE_POSTAL_APPLICATION_RECEIVED_EMAIL_WELSH}
          rejected-document-english: ${TEMPLATE_POSTAL_REJECTED_DOCUMENT_EMAIL_ENGLISH}
          rejected-document-welsh: ${TEMPLATE_POSTAL_REJECTED_DOCUMENT_EMAIL_WELSH}
          rejected-signature-english: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_EMAIL_ENGLISH}
          rejected-signature-welsh: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_EMAIL_WELSH}
          rejected-signature-with-reasons-english: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_WITH_REASONS_EMAIL_ENGLISH}
          rejected-signature-with-reasons-welsh: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_WITH_REASONS_EMAIL_WELSH}
          requested-signature-english: ${TEMPLATE_POSTAL_REQUESTED_SIGNATURE_EMAIL_ENGLISH}
          requested-signature-welsh: ${TEMPLATE_POSTAL_REQUESTED_SIGNATURE_EMAIL_WELSH}
          nino-not-matched-english: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_EMAIL_ENGLISH}
          nino-not-matched-welsh: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_EMAIL_WELSH}
          nino-not-matched-restricted-documents-list-english: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_EMAIL_ENGLISH}
          nino-not-matched-restricted-documents-list-welsh: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_EMAIL_WELSH}
        letter:
          rejected-document-english: ${TEMPLATE_POSTAL_REJECTED_DOCUMENT_LETTER_ENGLISH}
          rejected-document-welsh: ${TEMPLATE_POSTAL_REJECTED_DOCUMENT_LETTER_WELSH}
          rejected-signature-english: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_LETTER_ENGLISH}
          rejected-signature-welsh: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_LETTER_WELSH}
          rejected-signature-with-reasons-english: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_WITH_REASONS_LETTER_ENGLISH}
          rejected-signature-with-reasons-welsh: ${TEMPLATE_POSTAL_REJECTED_SIGNATURE_WITH_REASONS_LETTER_WELSH}
          requested-signature-english: ${TEMPLATE_POSTAL_REQUESTED_SIGNATURE_LETTER_ENGLISH}
          requested-signature-welsh: ${TEMPLATE_POSTAL_REQUESTED_SIGNATURE_LETTER_WELSH}
          nino-not-matched-english: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_LETTER_ENGLISH}
          nino-not-matched-welsh: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_LETTER_WELSH}
          nino-not-matched-restricted-documents-list-english: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_LETTER_ENGLISH}
          nino-not-matched-restricted-documents-list-welsh: ${TEMPLATE_POSTAL_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_LETTER_WELSH}
      proxy:
        email:
          received-english: ${TEMPLATE_PROXY_APPLICATION_RECEIVED_EMAIL_ENGLISH}
          received-welsh: ${TEMPLATE_PROXY_APPLICATION_RECEIVED_EMAIL_WELSH}
          rejected-document-english: ${TEMPLATE_PROXY_REJECTED_DOCUMENT_EMAIL_ENGLISH}
          rejected-document-welsh: ${TEMPLATE_PROXY_REJECTED_DOCUMENT_EMAIL_WELSH}
          rejected-signature-english: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_EMAIL_ENGLISH}
          rejected-signature-welsh: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_EMAIL_WELSH}
          rejected-signature-with-reasons-english: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_WITH_REASONS_EMAIL_ENGLISH}
          rejected-signature-with-reasons-welsh: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_WITH_REASONS_EMAIL_WELSH}
          requested-signature-english: ${TEMPLATE_PROXY_REQUESTED_SIGNATURE_EMAIL_ENGLISH}
          requested-signature-welsh: ${TEMPLATE_PROXY_REQUESTED_SIGNATURE_EMAIL_WELSH}
          nino-not-matched-english: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_EMAIL_ENGLISH}
          nino-not-matched-welsh: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_EMAIL_WELSH}
          nino-not-matched-restricted-documents-list-english: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_EMAIL_ENGLISH}
          nino-not-matched-restricted-documents-list-welsh: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_EMAIL_WELSH}

        letter:
          rejected-document-english: ${TEMPLATE_PROXY_REJECTED_DOCUMENT_LETTER_ENGLISH}
          rejected-document-welsh: ${TEMPLATE_PROXY_REJECTED_DOCUMENT_LETTER_WELSH}
          rejected-signature-english: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_LETTER_ENGLISH}
          rejected-signature-welsh: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_LETTER_WELSH}
          rejected-signature-with-reasons-english: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_WITH_REASONS_LETTER_ENGLISH}
          rejected-signature-with-reasons-welsh: ${TEMPLATE_PROXY_REJECTED_SIGNATURE_WITH_REASONS_LETTER_WELSH}
          requested-signature-english: ${TEMPLATE_PROXY_REQUESTED_SIGNATURE_LETTER_ENGLISH}
          requested-signature-welsh: ${TEMPLATE_PROXY_REQUESTED_SIGNATURE_LETTER_WELSH}
          nino-not-matched-english: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_LETTER_ENGLISH}
          nino-not-matched-welsh: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_LETTER_WELSH}
          nino-not-matched-restricted-documents-list-english: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_LETTER_ENGLISH}
          nino-not-matched-restricted-documents-list-welsh: ${TEMPLATE_PROXY_NINO_NOT_MATCHED_RESTRICTED_DOCUMENTS_LIST_LETTER_WELSH}

      overseas:
        email:
          received-english: ${TEMPLATE_OVERSEAS_APPLICATION_RECEIVED_EMAIL_ENGLISH}
          received-welsh: ${TEMPLATE_OVERSEAS_APPLICATION_RECEIVED_EMAIL_WELSH}

sqs:
  send-uk-gov-notify-photo-resubmission-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_PHOTO_RESUBMISSION_QUEUE_NAME}
  send-uk-gov-notify-id-document-resubmission-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_ID_DOCUMENT_RESUBMISSION_QUEUE_NAME}
  send-uk-gov-notify-id-document-required-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_ID_DOCUMENT_REQUIRED_QUEUE_NAME}
  send-uk-gov-notify-application-received-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_APPLICATION_RECEIVED_QUEUE_NAME}
  send-uk-gov-notify-application-approved-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_APPLICATION_APPROVED_QUEUE_NAME}
  send-uk-gov-notify-application-rejected-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_APPLICATION_REJECTED_QUEUE_NAME}
  send-uk-gov-notify-rejected-document-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_REJECTED_DOCUMENT_QUEUE_NAME}
  send-uk-gov-notify-rejected-signature-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_REJECTED_SIGNATURE_QUEUE_NAME}
  send-uk-gov-notify-requested-signature-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_REQUESTED_SIGNATURE_QUEUE_NAME}
  send-uk-gov-notify-nino-not-matched-queue-name: ${SQS_SEND_UK_GOV_NOTIFY_NINO_NOT_MATCHED_QUEUE_NAME}
  remove-application-notifications-queue-name: ${SQS_REMOVE_APPLICATION_NOTIFICATIONS_QUEUE_NAME}
  trigger-voter-card-statistics-update-queue-name: ${SQS_TRIGGER_VOTER_CARD_STATISTICS_UPDATE_QUEUE_NAME}

logging:
  pattern:
    level: "%X{correlationId} %5p"
